.aboutContainer {
    padding-left: 5rem;
    padding-right: 5rem;
}

.aboutTitle {
    font-size: 3rem;
    font-family: "Gruppo", sans-serif;
    font-weight: 650;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section1,
.sectionText {
    flex: 1;
    margin: 0 15px;
}

.image1 {
    width: 300px;
    border: 10px solid #fff;
}

.image2 {
    width: 300px;
    border: 10px solid #fff;
}
.image3 {
    width: 300px;
    border: 10px solid #fff;
}

.image4 {
    width: 500px;
    border: 10px solid #fff;
}
.sectionText {
    text-align: justify;
    font-family: "Gruppo", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background: radial-gradient(circle at center, #fff, transparent);
}

.sectionText::first-letter {
    font-size: 2em;
    float: left;
    margin-right: 5px;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

/* Add a media query for screens smaller than 600px */
@media (max-width: 600px) {
    .aboutContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .aboutTitle {
        font-size: 2rem;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .section1,
    .sectionText {
        margin: 1rem 0;
    }

    .image1,
    .image2,
    .image3,
    .image4 {
        width: 100%;
    }

    .sectionText {
        font-size: 16px;
    }
}
