.aboutContainer {
    padding-left: 5rem;
    padding-right: 5rem;
}

.aboutTitle {
    font-size: 3rem;
    font-family: "Gruppo", sans-serif;
    font-weight: 650;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.section1,
.sectionText {
    flex: 1;
    margin: 0 15px;
}

.image1 {
    width: 300px;
    border: 10px solid #fff;
}

.image2 {
    width: 300px;
    border: 10px solid #fff;
}
.image3 {
    width: 300px;
    border: 10px solid #fff;
}

.image4 {
    width: 500px;
    border: 10px solid #fff;
}
.sectionText {
    text-align: justify;
    font-family: "Gruppo", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    background: radial-gradient(circle at center, #fff, transparent);
}

.sectionText::first-letter {
    font-size: 2em;
    float: left;
    margin-right: 5px;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
