.portfolioContainer {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.portfolioTitle {
    font-size: 3rem;
    font-family: "Gruppo", sans-serif;
    font-weight: 550;
    padding-top: 1rem;
}

.projectContainer {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.infoItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itemContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.item1,
.item2,
.item3 {
    position: relative;
    width: 200px;
    height: 400px;
    margin: 20px;
    border: 5px solid #000;
}

.item1 img,
.item2 img,
.item3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.item1:hover img,
.item2:hover img,
.item3:hover img {
    opacity: 0.5;
}

.playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    color: #fff;
}

.item1:hover .playIcon,
.item2:hover .playIcon,
.item3:hover .playIcon {
    opacity: 1;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
    z-index: 10;
}
.gitHubLink {
    font-size: 20px;
    color: #0d44aa;
}

.description {
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    background-color: #fffbfb;

    border: 2px solid #000;
}
